.u-section-1 {
 background-image: url("images/SfondoHome-6.png");
 background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
 min-height: 657px;
}

.u-section-1 .u-image-1 {
 width: 1916px;
 height: 906px;
 margin: -202px -388px 0;
}

.u-section-1 .u-image-2 {
 width: 722px;
 height: 451px;
 animation-duration: 2250ms;
 margin: -770px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
 width: 996px;
 margin: 10px 60px 60px auto;
}

.u-section-1 .u-layout-cell-1 {
 min-height: 147px;
}

.u-section-1 .u-container-layout-1 {
 padding: 30px;
}

.u-section-1 .u-btn-1 {
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 font-size: 1.25rem;
 letter-spacing: 1px;
 animation-duration: 1000ms;
 margin: 0 auto;
 padding: 22px 97px 23px 96px;
}

.u-section-1 .u-layout-cell-2 {
 min-height: 147px;
}

.u-section-1 .u-container-layout-2 {
 padding: 30px;
}

.u-section-1 .u-btn-2 {
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 font-size: 1.25rem;
 letter-spacing: 1px;
 animation-duration: 1000ms;
 margin: 0 auto;
 padding: 23px 87px;
}

.u-section-1 .u-layout-cell-3 {
 min-height: 147px;
}

.u-section-1 .u-container-layout-3 {
 padding: 30px;
}

.u-section-1 .u-btn-3 {
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 font-size: 1.25rem;
 letter-spacing: 1px;
 animation-duration: 1000ms;
 margin: 0;
 padding: 22px 102px 23px;
}

@media (max-width: 1199px) {
 .u-section-1 .u-sheet-1 {
   min-height: 594px;
 }

 .u-section-1 .u-image-1 {
   width: 1567px;
   height: 815px;
   margin-top: -174px;
   margin-left: -313px;
   margin-right: -313px;
 }

 .u-section-1 .u-image-2 {
   margin-top: -708px;
 }

 .u-section-1 .u-layout-wrap-1 {
   margin-right: initial;
   margin-left: initial;
   width: auto;
 }

 .u-section-1 .u-layout-cell-1 {
   min-height: 139px;
 }

 .u-section-1 .u-layout-cell-2 {
   min-height: 139px;
 }

 .u-section-1 .u-layout-cell-3 {
   min-height: 139px;
 }
}

@media (max-width: 991px) {
 .u-section-1 .u-sheet-1 {
   min-height: 163px;
 }

 .u-section-1 .u-image-1 {
   width: 720px;
   height: 375px;
   margin-right: 0;
   margin-left: 0;
 }

 .u-section-1 .u-image-2 {
   width: 720px;
   height: 450px;
   margin-top: -267px;
 }

 .u-section-1 .u-layout-cell-1 {
   min-height: 100px;
 }

 .u-section-1 .u-layout-cell-2 {
   min-height: 100px;
 }

 .u-section-1 .u-layout-cell-3 {
   min-height: 100px;
 }
}

@media (max-width: 767px) {
 .u-section-1 .u-sheet-1 {
   min-height: 48px;
 }

 .u-section-1 .u-image-1 {
   width: 540px;
   height: 281px;
 }

 .u-section-1 .u-image-2 {
   width: 540px;
   height: 338px;
   margin-top: -173px;
 }

 .u-section-1 .u-container-layout-1 {
   padding-left: 10px;
   padding-right: 10px;
 }

 .u-section-1 .u-container-layout-2 {
   padding-left: 10px;
   padding-right: 10px;
 }

 .u-section-1 .u-container-layout-3 {
   padding-left: 10px;
   padding-right: 10px;
 }
}

@media (max-width: 575px) {
 .u-section-1 .u-image-1 {
   width: 340px;
   height: 177px;
 }

 .u-section-1 .u-image-2 {
   width: 340px;
   height: 213px;
   margin-top: -69px;
 }
}.u-section-2 .u-sheet-1 {
 min-height: 153px;
}">
